<!--  
    This code shows the movies directed by a director.
    Code for "Directed" and "Featured In" is similar.
    First, it generates a list of movies, it sorts them by release date in descending order.
    Each movie with a role of 0 is displayed as a list item with a hyperlink,
    showing the title and release year. If no movies are found, it displays 'No movies found'.
-->
<!DOCTYPE html>
<html>
<head>
    <title>Películas dirigidas por <%= directorName %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Películas con <%= directorName %></h1>
<div><h2>Directed</h2></div>
<ul>
    <% let exist = false %>
    <% movies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
    <% if (movie.role === 0) {%>
        <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
        <% exist = true %>
    <% }});%>
    <% if (!exist) { %>
        <%= "No movies found" %>
    <% } %>
</ul>
<div><h2>Featured In</h2></div>
<ul>
    <% exist = false %>
    <% movies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
        <% if (movie.role === 1) {%>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
            <% exist = true %>
    <% }});%>
    <% if (!exist) { %>
        <%= "No movies found" %>
    <% } %>
</ul>
<div id="inicio"><a href="/">Inicio</a></div>

<script>
    const coll = document.getElementsByClassName('collapsible');
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener('click', function () {
            this.classList.toggle('active');
            const content = this.nextElementSibling;
            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        });
    }
</script>

</body>
</html>
