<!-- 
    Code for each attribute of the movie 
    For those that can have no information, there's an if statement
    that checks for the existance of the info.
    For those than can have multiple values, theres a foreach loop
    <h3> gives the texts a header format
    <p> gives the texts a paragraph format
    <a> lets you create a link to another page
-->
<!DOCTYPE html>
<html>
<head>
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1><%= movie.title %></h1>
<h3>Genres</h3>
<p>
    <% let countG = movie.genres.length %>
    <% movie.genres.forEach((genre) => { %>
        <% countG-- %>
        <% if (countG === 0) {%>
        <%= genre.genre_name %>
        <% } else {%>
        <%= genre.genre_name + ", " %>
        <% } %>
    <% }); %>
</p>
<h3>Keywords</h3>
<p>
    <% let countK = movie.keywords.length %>
    <% movie.keywords.forEach((keyword) => { %>
        <% countK-- %>
        <% if (countK === 0) {%>
            <%= keyword.keyword_name %>
        <% } else {%>
            <%= keyword.keyword_name + ", " %>
        <% } %>
    <% }); %>
</p>
<h3>Official Language: </h3>
<p>
    <% if (movie.languages.length === 0 ) { %>
        <%= "No Official Language Found" %> %>
    <% } %>
    <% movie.languages.forEach((language) => { %>
        <% if (language.language_role_id === 1) {%>
            <%= language.language_name %>
        <% } %>
    <% }); %>
</p>
<h3>Spoken Languages: </h3>
<p>
    <% if (movie.languages.length === 0 ) { %>
        <%= "No Languages Found" %> %>
    <% } %>
    <% let countL = movie.languages.length %>
    <% movie.languages.forEach((language) => { %>
        <% countL-- %>
        <%if (language.language_role_id === 2 ) {%>
            <% if (countL === 0) {%>
                <%= language.language_name %>
            <% } else {%>
                <%= language.language_name + ", " %>
            <% } %>
        <% } %>
    <% }); %>
</p>
<h3>Release Date: <%= movie.release_date %></h3>
<h3>Directed By: </h3>
<ul>
    <% if (movie.directors.length === 0 ) { %>
        <%= "No directors found" %> %>
    <% } %>
    <% movie.directors.forEach((director) => { %>
        <li>
            <a href="/director/<%= director.crew_member_id %>"><%= director.crew_member_name %></a>
        </li>
    <% }); %>
</ul>
<h3>Written By: </h3>
<ul>
    <% if (movie.writers.length === 0 ) { %>
    <%= "No writers found" %> %>
    <% } %>
    <% movie.writers.forEach((writer) => { %>
        <li>
            <%= writer.crew_member_name %>
        </li>
    <% }); %>
</ul>
<h3>Overview:</h3>
<div id="overview"><p><%= movie.overview %></p></div>
<h3>Cast:</h3>
<ul>
    <% movie.cast.sort((a, b) => a.cast_order - b.cast_order).forEach((actor) => { %>
        <li><a href="/actor/<%= actor.actor_id %>"><%= actor.actor_name %></a> - <%= actor.character_name %></li>
    <% }); %>
</ul>
<h3>Crew:</h3>
<ul>
    <% movie.crew.forEach((crewMember) => { %>
        <li>
            <%= crewMember.crew_member_name %> - <%= crewMember.department_name %>
            (<%= crewMember.job %>)
        </li>
    <% }); %>
</ul>
<h3>Budget:</h3>
<div id="budget"><p> $ <%= movie.budget %></p></div> 

<h3>Revenue:</h3>
<div id="revenue"><p> $ <%= movie.revenue %></p></div> 

<h3>Runtime:</h3>
<div id="runtime"><p><%= movie.runtime %> minutes</p></div> 

<h3>Vote average:</h3>
<div id="vote_average"><p><%= movie.vote_average %></p></div> 

<h3>Vote count:</h3>
<div id="vote_count"><p><%= movie.vote_count %></p></div> 

<h3>Popularity:</h3>
<div id="popularity"><p><%= movie.popularity %></p></div> 


<h3>Movie Status:</h3>
<div id="movie_status"><p><%= movie.movie_status %></p></div>

<h3>Tagline:</h3>
<div id="tagline">
    <% if (movie.tagline.length === 0 ) { %>
        <p> No Tagline Found </p>
    <% } else {%>
        <p><%= movie.tagline %></p>
    <% }; %>
</div>

<h3>Homepage:</h3>
<div id="homepage">
    <% if (movie.homepage.length === 0) { %>
        <p> No homepage Found </p>
    <% } else { %>
        <p> <a target="_blank" href=<%= movie.homepage %>><%= movie.homepage %></a> </p>
    <% } %>
</div>

<h3>Countries: </h3>
<p>
    <% if (movie.countries.length === 0 ) { %>
        <%= "No Countries Found" %> %>
    <% } %>
    <% let countCou = movie.countries.length %>
    <% movie.countries.forEach((country) => { %>
        <% countCou-- %>
        <% if (countCou === 0) {%>
            <%= country.country_name %>
        <% } else {%>
            <%= country.country_name + ", " %>
        <% } %>
    <% }); %>
</p>

<h3>Companies: </h3>
<p>
    <% if (movie.companies.length === 0 ) { %>
        <%= "No Companies Found" %> %>
    <% } %>
    <% let countCom = movie.companies.length %>
    <% movie.companies.forEach((company) => { %>
        <% countCom-- %>
        <% if (countCom === 0) {%>
            <%= company.company_name %>
        <% } else {%>
            <%= company.company_name + ", " %>
        <% } %>
    <% }); %>
</p>

<p></p>
<div id="inicio"><a href="/">Home</a></div>
</body>
</html>
