<!DOCTYPE html>
<html>
<head>
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1><%= movie.title %></h1>
<h3>Genres</h3>
<p>
    <% let countG = movie.genres.length %>
    <% movie.genres.forEach((genre) => { %>
        <% countG-- %>
        <% if (countG === 0) {%>
        <%= genre.genre_name %>
        <% } else {%>
        <%= genre.genre_name + ", " %>
        <% } %>
    <% }); %>
</p>
<h3>Keywords</h3>
<p>
    <% let countK = movie.keywords.length %>
    <% movie.keywords.forEach((keyword) => { %>
        <% countK-- %>
        <% if (countK === 0) {%>
            <%= keyword.keyword_name %>
        <% } else {%>
            <%= keyword.keyword_name + ", " %>
        <% } %>
    <% }); %>
</p>
<h3>Release Date: <%= movie.release_date %></h3>
<h3>Directed By: </h3>
<ul>
    <% if (movie.directors.length === 0 ) { %>
        <%= "No directors found" %> %>
    <% } %>
    <% movie.directors.forEach((director) => { %>
        <li>
            <a href="/director/<%= director.crew_member_id %>"><%= director.crew_member_name %></a>
        </li>
    <% }); %>
</ul>
<h3>Written By: </h3>
<ul>
    <% if (movie.writers.length === 0 ) { %>
    <%= "No writers found" %> %>
    <% } %>
    <% movie.writers.forEach((writer) => { %>
        <li>
            <%= writer.crew_member_name %>
        </li>
    <% }); %>
</ul>
<h3>Overview:</h3>
<div id="overview"><p><%= movie.overview %></p></div>
<h3>Cast:</h3>
<ul>
    <% movie.cast.sort((a, b) => a.cast_order - b.cast_order).forEach((actor) => { %>
        <li><a href="/actor/<%= actor.actor_id %>"><%= actor.actor_name %></a> - <%= actor.character_name %></li>
    <% }); %>
</ul>
<h3>Crew:</h3>
<ul>
    <% movie.crew.forEach((crewMember) => { %>
        <li>
            <%= crewMember.crew_member_name %> - <%= crewMember.department_name %>
            (<%= crewMember.job %>)
        </li>
    <% }); %>
</ul>
<h3>Budget:</h3>
<div id="budget"><p> $ <%= movie.budget %></p></div> 

<h3>Revenue:</h3>
<div id="revenue"><p> $ <%= movie.revenue %></p></div> 

<h3>Runtime:</h3>
<div id="runtime"><p><%= movie.runtime %> minutes</p></div> 

<h3>Vote average:</h3>
<div id="vote_average"><p><%= movie.vote_average %></p></div> 

<h3>Vote count:</h3>
<div id="vote_count"><p><%= movie.vote_count %></p></div> 

<h3>Popularity:</h3>
<div id="popularity"><p><%= movie.popularity %></p></div> 


<h3>Movie Status:</h3>
<div id="movie_status"><p><%= movie.movie_status %></p></div>

<h3>Tagline:</h3>
<div id="tagline"><p><%= movie.tagline %></p></div>

<h3>Homepage:</h3>
<div id="homepage"><a target="_blank" href=<%= movie.homepage %>><%= movie.homepage %></a></div>


<p></p>
<div id="inicio"><a href="/">Home</a></div>
</body>
</html>
