<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Resultado de la Búsqueda</h1>
<div id="inicio"><a href="/">Inicio</a></div>
<div id="results">
    <div class="results-result">
        <h2>Movies</h2>
        <% if (typeof movies === "undefined" || movies.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% movies.forEach((movie) => { %>
                    <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="results-result">
        <h2>Actors</h2>
        <% if (typeof actors === "undefined" || actors.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% actors.forEach((actor) => { %>
                    <li><a href="/actor/<%= actor.person_id %>"><%= actor.person_name %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="results-result">
        <h2>Directors</h2>
        <% if (typeof directors === "undefined" || directors.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% directors.forEach((director) => { %>
                    <li><a href="/director/<%= director.person_id %>"><%= director.person_name %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>
<p></p>
</body>
</html>